.uicontainer4{
    height: 760px;
    width: 1150px;
    color: white;
    float: left;
    margin: 0px;
}
.searchfield{
    display: flex;
}

.searchfield>input{
    width: 900px;
    height: 40px;
    margin: 10px;
    background-color: transparent;
    border-bottom: 2px solid orange;
    border-top: none;
    border-left:none;
    border-right:none;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}